@import "https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400";
@import "https://fonts.googleapis.com/css?family=Work+Sans:900";

body {
    background: linear-gradient(#08040c, #221e41, #4761a3);
    background-size: 100% 100%;
    position: relative;
    color: rgb(253, 253, 253);
    font-family: "Lato", Arial, sans-serif;
    font-weight: 300;
    line-height: 150%;
    overflow-x: hidden;
    margin: 0;
}

.rocket {
    position: absolute;
}

.shootingstar {
    width: 45px;
    height: 2px;
    background: linear-gradient(-45deg, rgb(186, 208, 255), rgba(0, 0, 255, 0));
    transform: rotateZ(45deg);
    position: relative
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.test {
    width: 100px;
    height: 100px;
    background-color: green;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

h1 {
    font-family: "Work Sans", Arial, sans-serif;
    font-weight: 900;
    font-size: 4em;
    line-height: 1;
    margin-bottom: 0em;
}

h2 {
    font-size: 25px;
    font-weight: 400;
    color: #88a9ff;

}

h3 {
    border: 1px solid #fff;
    padding: 15px;
    width: 50%;
    margin: 20px auto;
}

h4 {
    margin: 5px;
    font-size: 20px;
}

h5 {
    margin: 5px;
    font-weight: 300;
    font-size: 20px;
}

.skills {

    width: 50%;
    padding: 10px;
    margin: auto;
    padding-bottom: 30px;
    justify-content: center;
}

.skill-name {
    font-size: 14px;
    text-transform: uppercase;
    margin: 10px 0;
    font-weight: 700;
}

.skill-bar {
    height: 15px;
    background: #cacaca;
    border-radius: 2px;
}

.skill-per {
    background-color: rgba(0, 0, 255, .6);
    height: 15px;
    border-radius: 2px;
    width: 0;
    transition: 1.5s linear;
    position: relative;
}

.skill-per::before {
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background-color: white;
    color: black;
    font-size: 12px;
    font-weight: 700;
    border-radius: 1px;
    height: 20px;
    top: -39px;
    right: 0;
    transform: translateX(50%)
}

.skill-per::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    top: -16px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 1px;
}

.header {
    width: 60%;
    margin: auto;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: center;
}

.margin {
    width: 60%;
    margin: auto;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.icon {
    padding: 0.5em;
}

.text {
    text-align: center;
    margin: 40px;
}

.boxes {
    padding: 20px;
    border-radius: 6px;
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, .05);
    text-align: center;

}

.grids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    align-content: center;
    justify-items: center;
}

.grid-text {
    padding: 20px;
    font-size: 16px;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.grid-img {
    object-fit: cover;
}

.headshot {
    align-items: center; 
    z-index: 3; 
    position: relative
}
.tags {
    font-size: 14px;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    margin: 1%;
    border-color: azure;
    border-width: 1px;
    border-style: solid;
    inline-size: auto;
}

.tag-left {
    float: left;
}

.tag-right {
    float: right;
}

.footer {
    background-color: rgba(179, 179, 179, 0.418);
    height: 8vh;
    width: 100%;
    margin-top: 25em;
    text-align: center;
}

/* phone view */
@media (max-width: 767px) {
    .grids {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        align-content: center;
        justify-items: center;
    }

    .margin {
        height: 97vh;

    }

    .text-right {
        text-align: left;
    }

    .tag-right {
        float: left;
    }
}